<p-menubar [model]="navLinks">
  <ng-template pTemplate="start">
    <button
      pButton
      routerLink="/"
      label="Bunny's Balloons"
      class="p-button-text font-bold"
      size="small"
      type="button"
    ></button>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="header-actions">
      <button
        pButton
        routerLink="/login"
        label="Login"
        class="p-button-text"
        size="small"
        type="button"
      ></button>
      <button
        pButton
        routerLink="/contact"
        label="Book Now"
        icon="pi pi-calendar"
        size="small"
        type="button"
      ></button>
    </div>
  </ng-template>
</p-menubar>
